 /* Styles for extra large devices */
 @media (min-width: 1200px) {
   #red-fort-img {
     width: 700px;
   }

 }


 /* Styles for large devices */
 @media (min-width: 992px) and (max-width: 1199.98px) {
   #red-fort-img {
     width: 700px;
   }
 }


 /* Styles for extra small devices */
 @media (max-width: 575.98px) {

   #red-fort-img {
     width: 100%;
   }

 }

 /* Styles for small devices */
 @media (min-width: 576px) and (max-width: 767.98px) {
   #red-fort-img {
     width: 100%;
   }
 }

 /* Styles for medium devices */
 @media (min-width: 768px) and (max-width: 991.98px) {
   #red-fort-img {
     width: 100%;
   }

 }

 .form-control-box {
   width: 100%;
   height: 40px;
   padding-left: 12px;
   border-radius: 5px;
   outline: none;
   border: 1.5px solid rgb(135, 135, 139);
 }

 #city-box {
   display: none;
   position: absolute;
   width: 70%;
   margin-top:0;
   height: 40px;
   padding-left: 12px;
   border-radius: 5px;
   outline: none;
   border: 1.5px solid rgb(135, 135, 139);
   background-color: white;
   z-index: 1000;
   padding: 10px;
   overflow-y: scroll;
   height: 20rem;
   padding: 5px;
   padding-left: 10px;
   
 }

 .district-name {
   padding: 3px;
   padding-left: 5px;
   cursor: pointer;
   margin-top: 0px;
   margin-bottom: 0px;
   color: rgb(37, 37, 39);
 }

 .district-name:hover {
   background-color: rgb(42, 100, 218);
   color: white;
   border-radius: 3px;

 }

 #form-pop-up{
  position:fixed;
  background-color:rgba(15, 14, 14, 0.5);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;

}


#spin-sub-bt{
  display: none;
  width: 9.5rem;
}